---
import type {Curso} from '../utils/CursoType.ts'

export interface Props {
    curso:Curso
  }

	const {curso} = Astro.props

	const {id, title, imagenURL, descripcionCorta, duracionHoras, instructor}=curso;

---

	<div class="card lg:card-side bg-base-100 shadow-xl mb-8 lg:mb-16"  >

		<figure transition:name={`card-figure-${id.toString()}`} >
			<img src={imagenURL} alt={title}  transition:name="hero"/>
        </figure>

		<div class="card-body" transition:name={`card-text-${id.toString()}`} >

			<h2 class="card-title" transition:name={`card-title-${id.toString()}`} >
				{title}
			</h2>

			<p>{descripcionCorta}</p>
			<p>Profesor: { `${instructor.nombre} ${instructor.apellidos}`}</p>
			<p>Duración: {duracionHoras} horas</p>


			<!-- Boton -->
			<div class="card-actions justify-end">
				<button class="btn btn-primary" transition:name={`card-button-${id.toString()}`}>
					Añadir a Carrito
				</button>
			</div>

		</div>
	</div>