---

export interface Props {
  id: number
  title: string
  imagenURL: string
  descripcionCorta: string
}

const {id, title, imagenURL, descripcionCorta} = Astro.props

---


<a href={`./cursos/${id}`} class="text-current no-underline">
  <div class="card bg-base-100 shadow-xl w-full hover:scale-105 transition-transform hover:shadow-2xl hover:contrast-125">
      {/* Imagen de la tarjeta */}
      <figure>
        <img src={imagenURL} alt={title} />
      </figure>

      <div class="card-body">
        {/* Titulo y descripcion de la tarjeta */}
        <h2 class="card-title">{title}</h2>
        <p>{descripcionCorta}</p>
        

        {/* Acciones de la tarjeta, en este caso, un botón para comprar el curso */}
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Añadir a carrito</button>
        </div>
      </div>
  </div>
</a>
